# Ambiente virtual do Python
venv/
.env/

# Arquivos de sistema
__pycache__/
*.pyc

# Banco de dados temporários (caso use SQLite)
*.sqlite3

# Configurações específicas do VS Code
.vscode/

# Arquivos temporários
*.log
*.tmp

# Outros
.DS_Store
Thumbs.db
